body {
    background: #fff3cd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial;
}

.form-box {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #ffcc33;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #e6b800;
}